Body {

    background: linear-gradient(to bottom, rgb(119, 27, 27), rgb(109, 0, 0));
    
}

h2 {

    background-color: rgb(211, 155, 14);
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#Dessin {

    display: flex;
    margin-left: auto;
    margin-right: 100px;

}

#Jeu video {

    display: block;
    margin-right: auto;


}

#Twitch {

    display: block;
    margin-left: auto;
    margin-right: 100px;

}


body+p {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}


form {

    text-decoration: solid;
}


div {

    text-align: right;
    margin-right: 25px;
    width: auto;

}

.conteneur-dessin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 25px;
}

.texte-groupe {
    text-align: right;
    max-width: 550px;
}

#Dessin {
    width: 300px;
    height: auto;
}

/* Le fond noir (caché) */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /*0,8 = 80% d'opacité (source : IA) */
    z-index: 1000;
    /* Rappel : permet de passer au dessus du reste */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Image dans la pop-up */
#imagePopup {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}


footer {

    background-color: rgb(75, 75, 75);
    color: white; 
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}


a {

color: rgb(66, 10, 88);



}
